
 <h1>dsgnfgnfhnmgjmgndgbf</h1>
  

<header class="header">
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo">

    <form class="search">
        <input type="text" placeholder="Pesquisar...">
        <button>🔍</button>
    </form>

    <nav>
        <a href="{{ url_for('index') }}">Início</a>
        <a href="{{ url_for('contact') }}">Contato</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('desabafo') }}">Desabafo</a>
    </nav>
</header>
