{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}
<div class="banner-container">

    <button class="banner-btn banner-prev" onclick="anterior()">◀</button>

    <a id="banner-link" href="/conteudo/1" class="banner-img-wrapper">
        <img
            id="banner-img"
            src="{{ url_for('static', filename=banners[0].imagem) }}"
            alt="Banner"
        >
    </a>

    <div class="descricao">
        <h3 id="banner-titulo">{{ banners[0].titulo }}</h3>
        <p id="banner-desc">{{ banners[0].descricao_curta }}</p>
    </div>

    <button class="banner-btn banner-next" onclick="proximo()">▶</button>

</div>


<!-- ✅ AQUI PODE -->
<script>
    window.BANNERS = {{ banners | tojson | safe }};
</script>

<script src="{{ url_for('static', filename='js/banners.js') }}"></script>

{% endblock %}
