{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}
<header class="topo">
    <div class="logo-nav">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">


        <!-- Barra de pesquisa -->
        <form class="barra-pesquisa" action="/pesquisar" method="get">
            <input type="text" name="q" placeholder="Pesquisar...">
            <button type="submit">🔍</button>
        </form>
    </div>
</header>

<section class="conteudo">
    <h2>Bem-vindo</h2>
    <p>Este é o site inicial.</p>
</section>
{% endblock %}
